h1{
    color: white;
    background-color: #282c34;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
}

h3{
    color: white;
    background-color: #282c34;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
}

div{
    background-color: #282c34;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: inline-block;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;    
}

p{
    color: white;
}

.itemImage{
    text-align: center;
    width:auto;
}
