#ItemCount{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:space-around;
    background-color: #282c34;
    width: 100%;
}

.boton-operador {
    width: auto;
    font-size: large;
    border-radius: 5px;
}